.team-section {
    margin-top: 100px;
    padding-left: 150px;
  }
  
  .team-title {
    color: #384bff;
    font-size: 1.5rem;
  }
  .team-description {
    font-size: 19px;
    margin-top: 10px;
    font-weight: bold;
  }
  .Teamcard {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }