
/* Main Hero Section Styles */
.hm-hero-section {
    height: calc(100vh - 60px);
    width: 90%;
    background-color: #384cff;
    color: #fcfcfc;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    padding: 10% 10% 0% 10%;
  }
  
  .hm-pulse-icon {
    width: 20px;
  }
  
  .hm-hero-header p {
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    padding: 12px;
    font-weight: 700;
  }
  
  .hm-hero-header h2 {
    font-size: 45px;
    width: 70%;
  }
  
  .hm-feature-list {
    display: flex;
    margin-top: 30px;
  }
  
  .hm-feature-list ul {
    padding-left: 0;
    padding-right: 15px;
  }
  .hm-feature-list ul li {
    list-style: none;
    padding-bottom: 10px;
  }
  
  .hm-cta-button {
    gap: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    background-color: #f98600;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  .hm-cta-button:hover {
    background-color: #f8af41;
    transform: scale(1.1);
  }
  
  .hm-reviews-container {
    width: 35%;
    background-color: #fcfcfc1c;
    padding: 20px;
    position: absolute;
    bottom: 0;
    border-radius: 26px 26px 0 0;
    border: 0.5px solid rgba(255, 255, 255, 0.555);
  }
  .hm-review-title {
    font-size: 1rem;
  }
  
  .hm-review-icon {
    color: #00b67a;
  }
  .hm-rating-stars {
    color: #f8af41;
    .MR-rating-starsin {
      width: 15%;
    }
  }

  .hm-review-content {
    display: flex;
    align-items: center;
    p {
      font-size: 0.6rem;
    }
  }
  .hm-review-image {
    margin-right: 10px;
    width: 40%;
  }
  
  .hm-main-hero-image {
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 9999;
  }
  
  .hm-decorative-shape1 {
    width: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .hm-decorative-shape2 {
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  
  @media (max-width: 1122px) {
    .hm-main-hero-image {
      width: 40%;
      right: 3%;
      bottom: 0;
    }
  }
  @media (max-width: 993px) {
    .hm-main-hero-image {
      position: static;
      width: 70% !important;
      margin-left: 10%;
    }
    .hm-decorative-shape1,
    .hm-decorative-shape2 {
      display: none;
    }
    .hm-hero-main-content {
      flex-wrap: wrap-reverse;
      margin-top: 10px;
      gap: 20px;
    }
    .hm-reviews-container {
      position: static;
      width: 100%;
      margin-top: 30px;
      gap: 20px;
    }
    .hm-hero-section {
      height: 100%;
    }
    .hm-feature-list {
      display: block;
    }
    .hm-main-hero-image {
      width: 100%;
    }
    .hm-review-card {
      padding-left: 25%;
    }
    .hm-review-image {
      width: 35%;
    }
    .hm-review-content {
      p {
        font-size: 1rem;
      }
    }
    .hm-review-title {
      font-size: 1.5rem;
    }
  }
  .hm-hero2-section {
    position: relative;
    background-image: url("/image/breadcrumb.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  .hm-hero2-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 102, 0.6);
    z-index: 1;
  }
  
  .hm-overlay {
    position: relative;
    z-index: 2;
  }
  
  .hm-overlay h2 {
    font-size: 48px;
    margin: 0;
  }
  
  .hm-overlay p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .hm-overlay p a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .hm-overlay p a:hover {
    opacity: 1;
  }
  