.Hm-card {
    width: 100%;
    max-width: 300px; 
    background-color: rgba(216, 232, 249, 0.43);
    border: 1.5px solid rgba(99, 173, 252, 0.27);
    border-radius: 20px; 
    padding: 20px; 

}

.Hm-card img {
    width: 100%; 
    max-width: 80px; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.Hm-card h4 {
    font-size:18px; 
    margin-bottom: 10px;
}

.Hm-card p {
    color: rgba(0, 0, 0, 0.6); 
    font-size: 14px;
    margin-bottom: 20px;
}

.Hm-card button {
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.Hm-card button:hover {
    background-color: #63adfc;
    color: #fff; 
    border-color: #63adfc;
}